<!-- The main content area -->
<main id="main" role="main">

	<!-- SECURITY -->
	<section class="security-inner">

		<div class="container m-b-100">
			<div class="row">
				<div class="col-md-8">
					<h1>Secure By Design</h1>
					<p class="teaser-1">Navigating and accessing web3 presents a number of challenges users have not have to face before. The remove of third parties ensures only you control your data and protects you from data leaks. But it is important that users know how to take responsibiliites for their funds and digital safetly.</p>
					<p class="teaser-1">State of the art technology is used to ensure Status is <br>as secure as possible.</p>
				</div>
			</div>
		</div>

		<div class="container m-b-100">
			<h2 class="m-b-100">What does security <br>mean to Status</h2>
			<div class="row">
				<div class="col-md-4">
					<h4 class="m-b-25">Secure <br> Messaging</h4>
					<p>Messages are not censored, blocked, and they remain anonymous if the end user chooses so. Only intended recipients are able to view messages and no metadata is leaked.</p>
				</div>
				<div class="col-md-4">
					<h4 class="m-b-25">Secure Financial <br> Transactions</h4>
					<p>Sending, storing, and receiving cryptocurrencies or tokens within the Status wallet is safe from attack. Private keys are never exposed. Transactions are only processed when initiated and confirmed by the owner of the private keys.</p>
				</div>
				<div class="col-md-4">
					<h4 class="m-b-25">Secure <br>Browsing</h4>
					<p>When browsing web3, end user data and browsing information is not accessible by any third parties. Any transactions made while using the Status browser implement the same security standards and best practices used in the Status wallet.</p>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3>How does Status make my messages secure?</h3>
					<p class="p-large">When looking at how to achieve mass adoption for a client, we looked at how people interact with their devices. For instance, as of 2014 more time is spent on mobile devices compared with desktop PCs. Moreover, a third of that total time is spent within instant messaging applications. Amongst mobile apps, instant messengers have the highest retention rates. Once installed they become sticky and typically users won’t uninstall immediately. Therefore, for mass adoption an instant messenger simply makes senses. Once network effects come into play and user’s friends also begin to utilise the app the average user lifetime skyrockets. When you start thinking about this as a user base and how to connect that with Ethereum, things like payments and applications built atop of Ethereum and integrated into a conversational interface begin to seem like a clear path forward.</p>
					<h3>Account Creation</h3>
					<p class="p-large">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
					<h3>Secure Browsing</h3>
					<p class="p-large">No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?</p>
					<h3>Rigourous Auditing</h3>
					<p class="p-large">As we reach major milestones in development, after rounds of internal review and auditing, we reach out to third parties to verify our sanity, and double/triple check the work that we do. These security audits are not guarantees of security in the projects they pertain to. They are additional checks from objective third parties to help bolster confidence in the security of intended functionality.</p>
					<p class="p-large">As always, if you find a bug or vulnerability in our code, please report it to security@status.im.</p>
					<h3>Threat Modeling with STRIDE</h3>
					<p class="p-large">Threat modelling is a way to try to identify risks and threats in the application. It usually is done from the point of view of an attacker. STRIDE is an acronym that stands for: Spoofing, Tampering, Repudiation, Information disclosure, Denial of service, Elevation of priviledge.</p>
					<p class="p-large">We try to apply all 6 attack types to every component or data flow of the system and coming up with the possible attack vectors.</p>
					<h3>Bug Bounty Program</h3>
					<p class="p-large">There are 3 ways you can get involved with the Status codebase: through Status Open Bounty, through finding bugs we’ve identified for beginners, or by fixing the stuff which irritates you most.</p>
					<p class="p-large">So, you’ve got some experience as a developer, you’ve been eye-balling this whole crypto thing ever since that idiot Jim in your office told you about it over coffee a few years ago and you want to dip your toes into the water without taking the plunge? A lot of the smaller bugs and features we would like to fix are assigned as bounties at Status, which means you can earn some SNT for fixing issues as you learn your way around our code base. Simply go to Gitcoin, sign in using your GitHub profile and use the filters on that site to find recent issues that are both interesting to you and worth your time to fix.</p>
				</div>
			</div>
		</div>

		<div class="container p-t-160 p-b-160">
			<div class="row">
				<div class="col-md-6">
					<h3>Protect Yourself</h3>
					<p class="teaser-2">Status is built with state of the art technology to ensure the product is a secure as possible. When it comes to navigating web3, you are in control. See our list of security best practices and take control.</p>
					<ul class="inline-links">
						<li><a href="#" class="link-arrow">Learn More</a></li>
						<li><a href="#"><%- image_tag("img/join-status-security.svg") %> Join Status Security Channel</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<div class="get-status">
						<h3>Get Status</h3>
						<p class="teaser-2">Start enjoying Status on iOS, Android, MacOS, Windows and Linux.</p>
						<a href="#" class="btn btn-white btn-arrow btn-arrow-white">Download Apps</a>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- END-SECURITY -->

</main>