<!-- The main content area -->
<main id="main" role="main">

	<div class="stripe">
		<b>Status Documentation</b>
		<form action="/" id="search-form" _lpchecked="1">
			<input id="search-input" placeholder="Search documentation…">
			<div id="search-results"></div>
		</form>
	</div>

	<!-- DOCS-PAGE -->
	<section class="single-docs-content">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<%- partial('_partial/sidebar') %>
				</div>
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-12">
							<h1 class="page-title"><%= page.title %></h1>
							<div class="editor-content">
								<%- page.content %>
							</div>
							<div class="docs-footer">
								Last update: <%- page.updated.format(config.date_format) %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END-DOCS-PAGE -->

</main>