<header>
    <div class="col">
        <a href="/" class="logo"><%- image_tag("img/logo.svg") %></a>
    </div>
    <nav>
        <ul>
            <li class="<% if(is_current('features')) { %>active<% } %>"><a href="/features/">Features</a></li>
            <li class="has-submenu">
                <a href="/">Get Involved <i class="arrow"></i></a>
                <div class="submenu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 text-right">
                                <h4>Get Involved</h4>
                                <p class="p-large">Status is an open source project <br>made by people all over the world.</p>
                                <a href="#" class="link-arrow">Learn more</a>
                            </div>
                            <div class="col-md-4 offset-md-1">
                                <ul>
                                    <li><a href="#" class="link-arrow">Developers</a></li>
                                    <li><a href="#" class="link-arrow">Community Groups</a></li>
                                    <li><a href="#" class="link-arrow external" target="_blank">Github</a></li>
                                    <li>
                                        <ul class="social-links">
                                            <li>
                                                <a href="/" class="icon-status">
                                                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M7.56399 7.53454C8.44481 7.62823 9.32562 7.72186 10.4085 7.66023C13.3425 7.49313 15.1198 5.95469 14.9937 3.6551C14.8652 1.31539 12.5007 -0.126087 10.1349 0.00869768C6.27942 0.228154 3.44428 3.68621 3.12497 7.6386C3.64857 7.51329 4.19968 7.43847 4.71939 7.4089C5.80237 7.34727 6.68318 7.4409 7.56399 7.53454ZM0.00597997 12.6495C0.12764 14.7943 2.3677 16.1156 4.60907 15.992C8.26156 15.7908 10.9476 12.6209 11.25 8.9979C10.754 9.11278 10.2319 9.18145 9.73953 9.20852C8.71356 9.26504 7.87904 9.17921 7.04453 9.09332C6.21007 9.0075 5.37556 8.92167 4.34965 8.97819C1.57021 9.13134 -0.113675 10.5415 0.00597997 12.6495Z" fill="#090909"/> </svg>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/" class="icon-facebook" target="_blank">
                                                    <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"> <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M5.203 8.07013H7.552L7.905 5.43713H5.203V3.74713C5.203 2.98313 5.416 2.46213 6.552 2.46213H8V0.100131C7.29882 0.0310031 6.59457 -0.00237344 5.89 0.000131122C3.8 0.000131122 2.37 1.22513 2.37 3.48613V5.43613H0V8.07013H2.371V14.8571H5.203V8.07013Z" fill="#090909"/> </svg>                                                
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/" class="icon-twitter" target="_blank">
                                                    <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"> <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M13.232 2.056C13.8854 1.63145 14.3656 0.987398 14.586 0.24C13.987 0.62 13.325 0.89 12.631 1.036C12.0671 0.382464 11.2482 0.00470955 10.385 0C8.685 0 7.307 1.469 7.307 3.282C7.307 3.533 7.334 3.784 7.388 4.029C4.83 3.893 2.562 2.587 1.044 0.601C0.768819 1.10728 0.625742 1.67477 0.628 2.251C0.628 3.389 1.17 4.394 1.996 4.982C1.50422 4.96489 1.02473 4.82386 0.602 4.572V4.613C0.602 6.203 1.664 7.53 3.072 7.831C2.62003 7.96171 2.14316 7.98126 1.682 7.888C2.073 9.192 3.21 10.14 4.557 10.167C3.2938 11.2353 1.64202 11.7279 0 11.526C1.38681 12.4836 3.03169 12.9976 4.717 13C10.377 13 13.473 8 13.473 3.662C13.473 3.52 13.47 3.378 13.464 3.238C14.0725 2.76702 14.5926 2.19176 15 1.539C14.4416 1.80337 13.8449 1.97785 13.232 2.056Z" fill="#090909"/> </svg>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/" class="icon-reddit" target="_blank">
                                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M17.9998 9.12116C17.9859 8.73593 17.8622 8.363 17.6438 8.04734C17.4253 7.73167 17.1214 7.48674 16.7686 7.34208C16.4158 7.19742 16.0292 7.15921 15.6554 7.23205C15.2817 7.30488 14.9367 7.48566 14.6621 7.75259C13.1249 6.6943 11.3179 6.10963 9.45964 6.06925L10.338 1.79933L13.2297 2.41518C13.2641 2.73882 13.4113 3.03946 13.6448 3.26312C13.8783 3.48679 14.1829 3.61883 14.5038 3.63556C14.8248 3.65228 15.1412 3.55259 15.3961 3.35438C15.651 3.15617 15.8279 2.87241 15.8949 2.55405C15.9619 2.23569 15.9146 1.90357 15.7616 1.61731C15.6086 1.33105 15.3599 1.10939 15.0601 0.992126C14.7603 0.874859 14.429 0.869663 14.1257 0.97747C13.8225 1.08528 13.5671 1.29903 13.4054 1.58035L10.0947 0.909757C10.0406 0.897727 9.98464 0.8967 9.9301 0.906737C9.87556 0.916773 9.82353 0.937672 9.77702 0.968224C9.73052 0.998776 9.69046 1.03837 9.65917 1.08472C9.62789 1.13106 9.606 1.18324 9.59477 1.23821L8.59482 5.98714C6.71367 6.01586 4.88185 6.60098 3.3248 7.67048C3.11649 7.47197 2.86805 7.32171 2.5967 7.23011C2.32535 7.13851 2.03758 7.10777 1.75333 7.14C1.46908 7.17224 1.19515 7.26669 0.950528 7.4168C0.705903 7.56692 0.496431 7.76911 0.33663 8.00936C0.176828 8.24962 0.070518 8.52219 0.0250674 8.80819C-0.0203832 9.0942 -0.00388753 9.38679 0.0734112 9.66569C0.15071 9.9446 0.286963 10.2031 0.472728 10.4234C0.658493 10.6437 0.889327 10.8204 1.14923 10.9414C1.13402 11.1418 1.13402 11.3431 1.14923 11.5435C1.14923 14.6091 4.67609 17.0999 9.02723 17.0999C13.3784 17.0999 16.9052 14.6091 16.9052 11.5435C16.9204 11.3431 16.9204 11.1418 16.9052 10.9414C17.2387 10.7735 17.5184 10.5135 17.7121 10.1914C17.9058 9.86929 18.0055 9.49825 17.9998 9.12116V9.12116ZM4.48691 10.4897C4.48691 10.219 4.56616 9.95445 4.71464 9.72939C4.86312 9.50433 5.07417 9.32892 5.32108 9.22533C5.568 9.12175 5.83969 9.09465 6.10182 9.14745C6.36394 9.20026 6.60472 9.3306 6.7937 9.522C6.98268 9.7134 7.11138 9.95725 7.16352 10.2227C7.21566 10.4882 7.1889 10.7634 7.08662 11.0135C6.98434 11.2635 6.81115 11.4773 6.58893 11.6276C6.36671 11.778 6.10545 11.8583 5.8382 11.8583C5.66074 11.8583 5.48503 11.8229 5.32108 11.7541C5.15714 11.6853 5.00817 11.5845 4.88269 11.4574C4.75721 11.3304 4.65768 11.1795 4.58977 11.0135C4.52186 10.8474 4.48691 10.6694 4.48691 10.4897V10.4897ZM12.3379 14.2533C11.3792 14.985 10.1996 15.3574 9.0002 15.3071C7.80078 15.3574 6.62123 14.985 5.66253 14.2533C5.60507 14.1824 5.5757 14.0924 5.58014 14.0007C5.58459 13.9091 5.62252 13.8224 5.68657 13.7576C5.75061 13.6927 5.83619 13.6543 5.92666 13.6498C6.01712 13.6453 6.106 13.675 6.17602 13.7332C6.98845 14.3368 7.98014 14.641 8.98669 14.5954C9.99448 14.6509 10.9908 14.3564 11.8109 13.7606C11.8826 13.6898 11.9791 13.6508 12.0792 13.6521C12.1287 13.6527 12.1777 13.6632 12.2232 13.683C12.2688 13.7028 12.31 13.7315 12.3446 13.7674C12.3792 13.8034 12.4065 13.8459 12.4249 13.8925C12.4433 13.9391 12.4524 13.989 12.4518 14.0392C12.4512 14.0893 12.4408 14.1389 12.4212 14.1851C12.4017 14.2312 12.3734 14.273 12.3379 14.308V14.2533ZM12.0946 11.913C11.8274 11.913 11.5661 11.8328 11.3439 11.6824C11.1217 11.532 10.9485 11.3183 10.8462 11.0682C10.7439 10.8181 10.7172 10.5429 10.7693 10.2775C10.8215 10.012 10.9502 9.76814 11.1391 9.57674C11.3281 9.38535 11.5689 9.255 11.831 9.2022C12.0931 9.14939 12.3648 9.17649 12.6118 9.28008C12.8587 9.38366 13.0697 9.55907 13.2182 9.78413C13.3667 10.0092 13.4459 10.2738 13.4459 10.5445C13.4533 10.7299 13.4233 10.9149 13.3578 11.0882C13.2924 11.2616 13.1928 11.4196 13.0651 11.5527C12.9375 11.6859 12.7844 11.7913 12.6152 11.8627C12.4461 11.934 12.2644 11.9698 12.0811 11.9678L12.0946 11.913Z" fill="#848484"/> </svg>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/" class="icon-youtube" target="_blank">
                                                    <svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg"> <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M7.142 8.665L7.141 3.608L12.005 6.145L7.142 8.665ZM17.82 2.731C17.82 2.731 17.644 1.491 17.105 0.945C16.42 0.228 15.653 0.225 15.301 0.182C12.782 0 9.004 0 9.004 0H8.996C8.996 0 5.218 0 2.699 0.182C2.347 0.224 1.58 0.228 0.895 0.945C0.355 1.491 0.18 2.731 0.18 2.731C0.18 2.731 0 4.189 0 5.645V7.009C0 8.466 0.18 9.922 0.18 9.922C0.18 9.922 0.356 11.162 0.895 11.709C1.58 12.426 2.479 12.403 2.88 12.479C4.32 12.617 9 12.659 9 12.659C9 12.659 12.782 12.654 15.301 12.472C15.653 12.43 16.421 12.426 17.105 11.709C17.645 11.163 17.82 9.922 17.82 9.922C17.82 9.922 18 8.466 18 7.009V5.644C18 4.187 17.82 2.73 17.82 2.73V2.731Z" fill="#090909"/> </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#" class="link-arrow">Educators</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="<% if(is_current('security')) { %>active<% } %>"><a href="/security/">Security</a></li>
            <li class="has-submenu <% if(is_current('docs')) { %>active<% } %>">
                <a href="/docs/">Docs <i class="arrow"></i></a>
                <div class="submenu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 text-right">
                                <h4>Documentation</h4>
                                <p class="p-large">Everything you need to start <br>developing with Status</p>
                                <a href="#" class="link-arrow">Read all</a>
                            </div>
                            <div class="col-md-4 offset-md-1">
                                <ul>
                                    <li><a href="#" class="link-arrow">Getting Started</a></li>
                                    <li><a href="#" class="link-arrow">Developer Tools</a></li>
                                    <li><a href="#" class="link-arrow">Build Status</a></li>
                                    <li><a href="#" class="link-arrow">Research</a></li>
                                    <li><a href="#" class="link-arrow">Nightlies</a></li>
                                    <li><a href="#" class="link-arrow">Tutorials</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="<% if(is_current('about')) { %>active<% } %>"><a href="/about/">About</a></li>
            <li><a href="https://our.status.im">Blog</a></li>
        </ul>
    </nav>
    <div class="col btns text-right">
        <a href="https://github.com/status-im/" target="_blank">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 11.2793C-0.000298842 16.1348 3.02955 20.4456 7.52152 21.9808C8.07188 22.0837 8.27249 21.7358 8.27249 21.4367C8.27249 21.1688 8.26325 20.4596 8.25797 19.5189C5.19868 20.1997 4.5533 18.0072 4.5533 18.0072C4.05178 16.7038 3.33117 16.356 3.33117 16.356C2.33208 15.6576 3.4064 15.6712 3.4064 15.6712C4.51107 15.751 5.09178 16.8338 5.09178 16.8338C6.07239 18.5567 7.66538 18.0586 8.29229 17.7703C8.39259 17.0422 8.67635 16.5455 8.99178 16.2626C6.54883 15.9784 3.98051 15.0107 3.98051 10.6893C3.98051 9.45765 4.40944 8.45071 5.11289 7.66302C4.99939 7.37745 4.62193 6.22976 5.22112 4.67739C5.22112 4.67739 6.14498 4.37422 8.24477 5.83456C9.1425 5.5836 10.0687 5.45572 10.9992 5.45425C11.9292 5.45552 12.8549 5.58295 13.7523 5.8332C15.8508 4.37422 16.7746 4.67739 16.7746 4.67739C17.3738 6.22976 16.9963 7.37745 16.8828 7.66302C17.5889 8.45071 18.0139 9.45765 18.0139 10.6893C18.0139 15.0215 15.4416 15.9757 12.9921 16.2545C13.3867 16.6023 13.7391 17.2912 13.7391 18.3428C13.7391 19.8505 13.7259 21.0673 13.7259 21.4367C13.7259 21.7385 13.9239 22.0891 14.4808 21.9795C19.8103 20.1557 22.9429 14.5062 21.7459 8.877C20.5489 3.24775 15.4072 -0.551533 9.82107 0.065584C4.23498 0.682701 0.000354915 5.51783 0 11.2793H0Z" fill="#4360DF"/>
            </svg>
        </a>
        <a href="/apps/" class="btn btn-purple">Get Status</a>
    </div>
</header>