<div class="sidebar">
    <%- sidebar('docs') %>
    <!-- <ul class="sidebar-menu">
        <li><a href="#">Technical Documentation</a></li>
        <li><a href="#">Developer Tools</a></li>
        <li>
            <a href="#">Build Status</a>
            <ul class="sidebar-submenu">
                <li><a href="#">Be a Part of a Better Web</a></li>
                <li><a href="#">Build Status-Go</a></li>
                <li><a href="#">Getting Setup</a></li>
                <li><a href="#">Build Desktop</a></li>
                <li><a href="#">Learn About Our Tools</a></li>
                <li><a href="#">Troubleshooting</a></li>
                <li><a href="#">Google Breakpad Integration</a></li>
                <li><a href="#">Jenkins Setup</a></li>
            </ul>
        </li>
        <li><a href="#">Extensions</a></li>
        <li><a href="#">Research</a></li>
        <li><a href="#">Security</a></li>
        <li><a href="#">Guides</a></li>
        <li><a href="#">Tutorials</a></li>
        <li><a href="#">Life at Status</a></li>
        <li><a href="#">Embark Documentation <%- image_tag("img/icon-external.svg") %></a></li>
    </ul> -->
</div>

